<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>1.png</string>
		<key>name</key>
		<string>奥巴马</string>
		<key>news</key>
		<string>哥们,走,大保健去</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>2.png</string>
		<key>name</key>
		<string>普京</string>
		<key>news</key>
		<string>别听奥巴马的,咱两去天上人间吧.</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>3.png</string>
		<key>name</key>
		<string>安倍晋三</string>
		<key>news</key>
		<string>免费赠送正版AV碟,什么吉泽明步,小泽随便挑</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>4.png</string>
		<key>name</key>
		<string>金正恩</string>
		<key>news</key>
		<string>我们大朝鲜是无敌的,要不要过来当个副主席?</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>5.png</string>
		<key>name</key>
		<string>阿三</string>
		<key>news</key>
		<string>来来来,免费赠送神油啦,一抹长10cm</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>6.png</string>
		<key>name</key>
		<string>小明</string>
		<key>news</key>
		<string>无处不在的小明</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>7.png</string>
		<key>name</key>
		<string>王思聪</string>
		<key>news</key>
		<string>我不是针对谁,我想说的是,在座的各位都是垃圾</string>
	</dict>
	<dict>
		<key>icon</key>
		<string>8.png</string>
		<key>name</key>
		<string>没名字了</string>
		<key>news</key>
		<string>哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈哈</string>
	</dict>
</array>
</plist>
