<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>这里用模型做1</string>
	<string>这里用模型做2</string>
	<string>这里用模型做3</string>
	<string>这里用模型做4</string>
	<string>这里用模型做5</string>
	<string>这里用模型做6</string>
	<string>这里用模型做7</string>
	<string>这里用模型做8</string>
	<string>这里用模型做9</string>
	<string>这里用模型做10</string>
	<string>这里用模型做11</string>
	<string>这里用模型做12</string>
</array>
</plist>
